*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  height: 100 vh;
  background-color: orangered;
}
