*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  height: 100 vh;
  padding: 3rem 1.5rem;
  background-color: #0b2135;
}

.game {
  text-align: center;
  width: 120rem;
  background-color: #062949;
  border: none;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 6px -2px 33px rgba(230, 119, 0, 0.6);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}

.game__title {
  display: inline-block;
  padding: 2rem;
  margin-bottom: 3rem;
  color: #e67700;
}
/* TEST */
.game__board {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.game__board-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.game__start-button {
}

.game__scores {
  width: 28rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__score-player {
  color: #ffff;
}

.user-score {
  padding-right: 2rem;
}

.computer-score {
}

.game__round-number {
    color: #ffff;
}

.game__result-message {
  margin-bottom: 3rem;
  background-color: lightpink;
}

.game__choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0;
}

.game__choice {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__choice-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.game__choice-btn {
  align-self: center;
  width: 8rem;
  height: 3rem;
}
