*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  height: 100 vh;
  background-color: orangered;
  padding: 3rem 1.5rem;
}

.game {
  text-align: center;
  width: 120rem;
  background-color: lightblue;
  margin: 0 auto;
}

.game__title {
  display: inline-block;
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: greenyellow;
}

.game__result {
  height: 35rem;
  margin-bottom: 3rem;

  background-color: lightpink;
}

.game__choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__choice {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__choice-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.game__choice-btn {
  align-self: center;
  width: 8rem;
  height: 3rem;
}
